<html>
    <head>
        <title>Scrapping from careercenter</title>
    </head>
    <body>
        <input type="url" pattern="" placeholder="URL to be scraped"/>
        <button>Start Scrapping</button>
    </body>
</html>
